@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* estilos gerais */
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #1E1E1E 50%, #F42424 50%);
    min-height: 100%;
}

header {
    display: flex;
    height: 10vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logoCoca {
    width: 9.15vw;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.17vw;
}

nav a:hover {
    opacity: 90%;
    transform: scale(1.1);
    transition: 0.6s;
}

main {
    padding-left: 80px;
    padding-right: 80px;
}

footer {
    display: flex;
    height: 10vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    justify-content: space-between;
    margin-top: auto;
}

.parte-logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.redes {
    display: flex;
    gap: 20px;
    align-items: center;
}

.redes img{
    width: 1.83vw;
}
.redes img:hover {
    transform: scale(1.1);
    transition: 0.6s;
    opacity: 90%;
}

footer p {
    font-size:  0.73vw;
}
/* fim estilos gerais */

/* página inicial */
.sec-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.frase1 {
    color: white;
    font-weight: 600;
    font-size: 2.92vw;
    text-transform: uppercase;
}

.frase2 {
    color: #1E1E1E;
    font-weight: 600;
    font-size: 3.51vw;
    text-transform: uppercase;
}

.coke {
    width: 17.42vw;
    margin: 0 auto;
}


.slide-bottom {
    -webkit-animation: slide-bottom 0.7s ease-in-out infinite alternate both;
    animation: slide-bottom 0.7s ease-in-out infinite alternate both;
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}